@{
    ViewData["Title"] = "Admin Dashboard";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Librería Book Haven</h1>
        <img src="~/images/book-haven-logo.png" class="img-fluid img-blur" alt="Librería Book Haven Logo" style="max-width: 50%; height: auto;">
    </div>
</div>
